@{
    ViewData["Title"] = "Accueil";
}

@if (ViewBag.message != null)
{
    <div class="row m-1 justify-content-center align-items-center">
        <div class="col alert alert-success p-1">
            @ViewBag.message
        </div>
    </div>
}

@if (ViewBag.connection != false)
{
    <div class="row m-1 justify-content-center align-items-center">
        <div class="col alert alert-success p-1">
            Id de connection : @ViewBag.connectionId
        </div>
    </div>
}