@{
    ViewData["Title"] = "Accueil";
}

@if (ViewBag.connection == true)
{
    Layout = "_LayoutConnecter";
}

@if (ViewBag.message != null)
{
    <div class="row m-1 justify-content-center align-items-center">
        <div class="col alert alert-success p-1">
            @ViewBag.message
        </div>
    </div>
}

@if (ViewBag.messageError != null)
{
    <div class="row m-1 justify-content-center align-items-center">
        <div class="col alert alert-danger p-1">
            @ViewBag.messageError
        </div>
    </div>
}